<div id="<%= dom_id consult_result %>">
  <p>
    <strong>Consult:</strong>
    <%= consult_result.consult_id %>
  </p>

  <p>
    <strong>Specialist:</strong>
    <%= consult_result.specialist_id %>
  </p>

  <p>
    <strong>Conclusion:</strong>
    <%= consult_result.conclusion %>
  </p>

  <p>
    <strong>Diagnoses:</strong>
    <%= consult_result.diagnoses %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= consult_result.treatment %>
  </p>

</div>
