<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= patient.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= patient.suffix %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= patient.date_of_birth %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= patient.mobile_number %>
  </p>

  <p>
    <strong>Home number:</strong>
    <%= patient.home_number %>
  </p>

  <p>
    <strong>Work number:</strong>
    <%= patient.work_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Apartment number:</strong>
    <%= patient.apartment_number %>
  </p>

  <p>
    <strong>Po box:</strong>
    <%= patient.po_box %>
  </p>

  <p>
    <strong>City:</strong>
    <%= patient.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= patient.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= patient.zip %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= patient.sex %>
  </p>

  <p>
    <strong>Gender identity:</strong>
    <%= patient.gender_identity %>
  </p>

  <p>
    <strong>Sexual orientation:</strong>
    <%= patient.sexual_orientation %>
  </p>

  <p>
    <strong>Practice:</strong>
    <%= patient.practice_id %>
  </p>

</div>
