<div id="<%= dom_id practice %>">
  <p>
    <strong>Name:</strong>
    <%= practice.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= practice.address %>
  </p>

  <p>
    <strong>Suite:</strong>
    <%= practice.suite %>
  </p>

  <p>
    <strong>Po box:</strong>
    <%= practice.po_box %>
  </p>

  <p>
    <strong>City:</strong>
    <%= practice.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= practice.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= practice.zip %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= practice.phone_number %>
  </p>

  <p>
    <strong>Fax number:</strong>
    <%= practice.fax_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= practice.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= practice.website %>
  </p>

</div>
