<div id="<%= dom_id consult %>">
  <p>
    <strong>Status:</strong>
    <%= consult.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= consult.priority %>
  </p>

  <p>
    <strong>Specialty:</strong>
    <%= consult.specialty %>
  </p>

  <p>
    <strong>Chief complaint:</strong>
    <%= consult.chief_complaint %>
  </p>

  <p>
    <strong>Comments to specialist:</strong>
    <%= consult.comments_to_specialist %>
  </p>

  <p>
    <strong>Main question:</strong>
    <%= consult.main_question %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= consult.patient_id %>
  </p>

  <p>
    <strong>Practice:</strong>
    <%= consult.practice_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= consult.provider_id %>
  </p>

  <p>
    <strong>Specialist:</strong>
    <%= consult.specialist_id %>
  </p>

</div>
